.contact .max-width .cuf{

    margin-left: -0.9rem;

}
.contact .max-width .cuf img{
    width: 2.5rem;
    height: auto;
    margin-top: 1rem;
    margin-right: 0.7rem;
    margin-left: 1rem;
  }
  
  .contact .max-width .cuf img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
  
  @media (max-width: 730px) {
  
    .contact .max-width .cuf{
      margin-left: 5rem;
    }
  
    .contact .max-width .cuf img{
      margin-right: 0.1rem;
      margin-left: 0.3rem;
    }
  
  }
  
  @media (max-width: 600px) {
  
    .contact .max-width .cuf{
      margin-left: 3rem;
    }
  
    .contact .max-width .cuf img{
      width: 2rem;
      height: auto;
      margin-right: 0.1rem;
      margin-left: 0.5rem;
    }
  
  }
  
  @media (max-width: 530px) {
  
    .contact .max-width .cuf{
      margin-left: 1rem;
    }
  
    .contact .max-width .cuf img{
      width: 2rem;
      height: auto;
      margin-right: 0.1rem;
      margin-left: 0.5rem;
    }
  
  }
  
  @media (max-width: 500px) {
  
    .contact .max-width .cuf{
      margin-left: -1rem;
    }
  
    .contact .max-width .cuf img{
      width: 2rem;
      height: auto;
      margin-right: 0.1rem;
      margin-left: 0.5rem;
    }
  
  }
  
  @media (max-width: 450px) {
  
    .contact .max-width .cuf{
      margin-left: -3rem;
    }
  
    .contact .max-width .cuf img{
      width: 2rem;
      height: auto;
      margin-right: 0.1rem;
      margin-left: 0.5rem;
    }
  
  }
  
  @media (max-width: 435px) {
  
    .contact .max-width .cuf{
      margin-left: -4rem;
    }
  
    .contact .max-width .cuf img{
      width: 2rem;
      height: auto;
      margin-right: 0.1rem;
      margin-left: 0.5rem;
    }
  
  }

  @media (max-width: 420px) {
  
    .contact .max-width .cuf{
      margin-left: -3rem;
    }
  
    .contact .max-width .cuf img{
      width: 2rem;
      height: auto;
      margin-right: -0.3rem;
      margin-left: 0.7rem;
    }
  
  }
  
  @media (max-width: 400px) {
  
    .contact .max-width .cuf{
      margin-left: -4rem;
    }
  
    .contact .max-width .cuf img{
      width: 2rem;
      height: auto;
      margin-right: -0.3rem;
      margin-left: 0.5rem;
    }
  
  }
  
  @media (max-width: 370px) {
  
    .contact .max-width .cuf{
      margin-left: -4rem;
    }
  
    .contact .max-width .cuf img{
      width: 2rem;
      height: auto;
      margin-right: -0.5rem;
      margin-left: 0.6rem;
    }
  
  }

  @media (max-width: 360px) {
  
    .contact .max-width .cuf{
      margin-left: -4rem;
    }
  
    .contact .max-width .cuf img{
      width: 1.5rem;
      height: auto;
      margin-right: -0.5rem;
      margin-left: 0.8rem;
    }
  
  }

  
  @media (max-width: 330px) {
  
    .contact .max-width .cuf{
      margin-left: -4rem;
    }
  
    .contact .max-width .cuf img{
      width: 1.5rem;
      height: auto;
      margin-right: -0.5rem;
      margin-left: 0.7rem;
    }
  
  }

  @media (max-width: 315px) {
  
    .contact .max-width .cuf{
      margin-left: -4rem;
    }
  
    .contact .max-width .cuf img{
      width: 1.5rem;
      height: auto;
      margin-right: -0.5rem;
      margin-left: 0.6rem;
    }
  
  }
